<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taufiq.e_bayar">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="E-BAYAR"
        android:roundIcon="@drawable/logo_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.EBAYAR"
        tools:replace="android:allowBackup">

        <activity
            android:name=".Activities.DetailUGActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.DetailSPPActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.ActivityInput_otp"
            android:exported="true" />
        <activity
            android:name=".Activities.EditEmailActivity"
            android:exported="true" />
        <activity android:name=".Activities.ResetPasswordActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.DashboardActivity"
            android:exported="true"/>
        <activity
            android:name=".Activities.LoginActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".Activities.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>